<!--<!DOCTYPE HTML>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
    <!--<title>adminNavigator</title>-->
    <!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>-->
    <!--<script src="js/thymeleaf.js" th:src="@{/static/js/thymeleaf.js}"/>-->
    <!--<script src="js/jquery/2.0.0/jquery.min.js"></script>-->
    <!--<link rel="stylesheet" href="css/bootstrap/3.3.6/bootstrap.min.css">-->
    <!--<script src="js/bootstrap/3.3.6/bootstrap.min.js"></script>-->
<!--</head>-->
<!--<body>-->
<div class="navitagorDiv" th:fragment="html">
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
        <img src="img/site/tmallbuy.png" class="pull-left" style="margin-left:10px;margin-right:0px" height="45px">
        <a class="navbar-brand" href="#nowhere">天猫后台</a>

        <a class="navbar-brand" href="admin_category_list">分类管理</a>
        <a class="navbar-brand" href="admin_user_list">用户管理</a>
        <a class="navbar-brand" href="admin_order_list">订单管理</a>
    </nav>
</div>
<!--</body>-->
<!--</html>-->